
.login-btn{
    background: var(--button-color);
    border-radius: 5px;
    padding: 4px; 
    color: var(--text-color);
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
}
.search-btn{
    background: var(--button-color);
    border-radius: 5px;
    padding: 4px; 
    color: var(--text-color);
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
    margin-top: 20px;
    margin-left: 150px;
    
}

.book a{
    background: var(--button-color);
    border-radius: 5px;
    padding: 13px; 
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    }