:root {
    --primary-color: #7daaac;
    --text-color: #FBE4D6;
    --button-color: #0C0950;
    --header:#034C53;
    --secondFont-color:rgb(12, 12, 73);
    --secondary-color: rgb(46, 105, 153);
   }
   